<div class="course-card">

  <div class="course-title">
    {{ index }}. {{ course.description }}
  </div>

  @if (course.iconUrl) {
    <img [src]=course.iconUrl alt="Angular Logo"
         width="300">
  } @else {
    <img src="https://lipsum.app/510x287/" alt="image broken">
  }
  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <div [ngSwitch]="course.category" class="course-category">
    <div *ngSwitchCase="'BEGINNER'" class="beginner">Beginner</div>
    <div *ngSwitchCase="'INTERMEDIATE'" class="intermediate">Intermediate</div>
    <div *ngSwitchCase="'ADVANCED'" class="advanced">Advanced</div>

    <div *ngSwitchDefault class="unknown">Unknown</div>

  </div>

  <button (click)="onCourseViewed()"> View Course</button>

</div>
