<div class="demo">
  <div>Start Date: {{ startDate | date : "MM/dd/yyyy" }}</div>
  <div>{{ title | titlecase }}</div>
  <div>{{ price | number : "3.3-5" }}</div>
  <div>{{ price | currency : "EUR" }}</div>
  <div>{{ rate | percent }}</div>
</div>

<div style="border: 5px solid red; min-height: 900px; margin: 10px;"></div>

@defer (on viewport; prefetch on idle) {
  <div class="courses">
    @for (course of courses; track course.id) {
      <app-course-card
        (courseEmitter)="onCourseSelected($event)"
        [course]="course"
        [index]="$index"
      />
    } @empty {
      <p>No courses found!</p>
    }
  </div>
} @placeholder {
  <h2>This is the placeholder!</h2>
} @loading {
  <h2>This ist the loading indicator...</h2>
} @error {
  <h2>An error occurred!</h2>
}
