<div class="demo">
  <div>Start Date: {{ startDate | date : "MM/dd/yyyy" }}</div>
  <div>{{ title | titlecase }}</div>
  <div>{{ price | number : "3.3-5" }}</div>
  <div>{{ price | currency : "EUR" }}</div>
  <div>{{ rate | percent }}</div>
</div>

<div>
  <div style="min-height: 300px; border: red 5px solid; padding: 10px">
    <button #display>Trigger Display</button>
  </div>
</div>

@defer (on interaction(display); prefetch on hover(display)) {
  <div class="courses">
    @for (course of courses; track course.id) {
      <app-course-card
        (courseEmitter)="onCourseSelected($event)"
        [course]="course"
        [index]="$index"
      />
    } @empty {
      <p>No courses found!</p>
    }
  </div>
} @placeholder {
  <h2>This is the placeholder!</h2>
} @loading {
  <h2>This ist the loading indicator...</h2>
} @error {
  <h2>An error occurred!</h2>
}
